<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Add an User</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/site.css}"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    </head>
    <body>
    	<header>
            <!-- Navigation -->
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" href="/">VLOL</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="register" th:href="@{/registration}">Register</a>
                            </li>
                            <li class="nav-item">
                                <div sec:authorize="isAuthenticated()">
                                    <a class="nav-link text-dark" id="login" th:href="@{/logout}">Log out</a>
                                </div>
                                <div sec:authorize="isAnonymous()">
                                    <a class="nav-link text-dark" id="login" th:href="@{/login}">Log in</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/admin-menu">Admin</a>
                            </li><!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>Create a New User</title>
        <style>
            td {
                text-align: left;
                vertical-align: top;
                white-space: nowrap;
            }
            input:not([type="checkbox"]) {
                width: 100%;
            }
            textarea {
                resize: none;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pt-4">Create a New User</h1>
                    <form method="get" action="/search-users">
                        <input type="text" name="keyword" pattern="[A-Za-z0-9\s\-._~:\/?#\[\]@!$&'()*+,;=]*" style="width:20em;" />&nbsp;&nbsp;
                        <button type="submit" class="btn btn-info"><i class="fas fa-search"></i> Full Search</button>
                    </form>
                    <hr />
                    <form action="#" th:action="@{/save-user}" th:object="${user}" method="post">
                        <table id="list_table" class="table table-bordered dt-responsive display">
                            <tr>             
                                <td>Last Name</td>
                                <td class="w-100">
                                    <input type="text" th:field="*{lastName}" maxlength="100" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>First Name:</td>
                                <td>
                                    <input type="text" th:field="*{firstName}" maxlength="50" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Date of Birth (DOB):</td>
                                <td>
                                    <input type="date" th:field="*{DOB}" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('DOB')}" class="text-danger" th:errors="*{DOB}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Social Security Number (SSN):</td>
                                <td>
                                    <input type="number" th:field="*{SSN}" maxlength="9" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('SSN')}" class="text-danger" th:errors="*{SSN}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Street Address:</td>
                                <td>
                                    <input type="text" th:field="*{streetAddress}" maxlength="100" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('streetAddress')}" class="text-danger" th:errors="*{streetAddress}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>City:</td>
                                <td>
                                    <input type="text" th:field="*{city}" maxlength="50" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('city')}" class="text-danger" th:errors="*{city}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>State:</td>
                                <td>
                                    <input type="text" th:field="*{state}" maxlength="2" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('state')}" class="text-danger" th:errors="*{state}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>ZIP Code:</td>
                                <td>
                                    <input type="text" th:field="*{zipCode}" maxlength="5" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('zipCode')}" class="text-danger" th:errors="*{zipCode}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Phone Number:</td>
                                <td>
                                    <input type="tel" th:field="*{phone}" maxlength="10" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('phone')}" class="text-danger" th:errors="*{phone}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Point of Contact (POC) Name:</td>
                                <td>
                                    <input type="text" th:field="*{pocName}" maxlength="100" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('pocName')}" class="text-danger" th:errors="*{pocName}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>POC Phone Number:</td>
                                <td>
                                    <input type="tel" th:field="*{pocPhone}" maxlength="10" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('pocPhone')}" class="text-danger" th:errors="*{pocPhone}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Agent ID Number:</td>
                                <td>
                                    <select th:field="*{userAgentNo}">
                                        <option value="">None</option>
                                        <option th:each="agent : ${agents}" th:value="${agent.userID}" th:text="${agent.userID}">Choose a User Agent</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>             
                                <td>Doctor Name:</td>
                                <td>
                                    <input type="text" th:field="*{doctorName}" maxlength="100" />
                                    <div th:if="${#fields.hasErrors('doctorName')}" class="text-danger" th:errors="*{doctorName}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Doctor Phone Number:</td>
                                <td>
                                    <input type="tel" th:field="*{doctorPhone}" maxlength="10" />
                                    <div th:if="${#fields.hasErrors('doctorPhone')}" class="text-danger" th:errors="*{doctorPhone}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Insurance Company:</td>
                                <td>
                                    <input type="text" th:field="*{insCompany}" maxlength="50" />
                                    <div th:if="${#fields.hasErrors('insCompany')}" class="text-danger" th:errors="*{insCompany}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Insurance Policy Number:</td>
                                <td>
                                    <input type="text" th:field="*{insPolicyNo}" maxlength="50" />
                                    <div th:if="${#fields.hasErrors('insPolicyNo')}" class="text-danger" th:errors="*{insPolicyNo}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Advance Directive?</td>
                                <td class="text-wrap">
                                    <div>Check this box if you have an advance directive (e.g., DNR, MOLST, etc.):</div>
                                    <input type="checkbox" th:field="*{advDirective}" th:value="${user}" />
                                    <div th:if="${#fields.hasErrors('advDirective')}" class="text-danger" th:errors="*{advDirective}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Advance Directive Type:</td>
                                <td>
                                    <input type="text" th:field="*{advDirType}" maxlength="50" />
                                    <div th:if="${#fields.hasErrors('advDirType')}" class="text-danger" th:errors="*{advDirType}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Allergies:</td>
                                <td class="text-wrap">
                                    <p><b>Note</b> - If an allergy is not listed, check 'Other' and enter any missing allergies in the User Comments section.</p>
                                    <ul style="column-count: 2; list-style: none; padding-left: 0;">
                                        <li th:each="allergy : ${allergies}">
                                            <input type="checkbox" name="allergies"
                                                   th:utext="'&nbsp;' + ${allergy.allergyName}"
                                                   th:value="${allergy.allergyID}"
                                                   th:field="*{allergies}"
                                                   />
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Conditions:</td>
                                <td class="text-wrap">
                                    <p><b>Note</b> - If a condition is not listed, check 'Other' and enter any missing conditions in the User Comments section.</p>
                                    <ul style="column-count: 2; list-style: none; padding-left: 0;">
                                        <li th:each="condition : ${conditions}">
                                            <input type="checkbox" name="conditions"
                                                   th:utext="'&nbsp;' + ${condition.conditionName}"
                                                   th:value="${condition.conditionID}"
                                                   th:field="*{conditions}"
                                                   />
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Medications:</td>
                                <td class="text-wrap">
                                    <p><b>Note</b> - If a medication is not listed, check 'Other' and enter any missing medications in the User Comments section.</p>
                                    <ul style="column-count: 2; list-style: none; padding-left: 0;">
                                        <li th:each="medication : ${medications}">
                                            <input type="checkbox" name="medications"
                                                   th:utext="'&nbsp;' + ${medication.brandName} + ' / ' + ${medication.genericName}"
                                                   th:value="${medication.medicationID}"
                                                   th:field="*{medications}"
                                                   />
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>             
                                <td>User Comments:</td>
                                <td>
                                    <textarea th:field="*{userComments}" rows="4" />
                                    <div th:if="${#fields.hasErrors('userComments')}" class="text-danger" th:errors="*{userComments}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr />
                                </td>
                            </tr>
                            <tr>             
                                <td>Email / User Name:</td>
                                <td>
                                    <input type="email" th:field="*{username}" maxlength="320" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Password:</td>
                                <td>
                                    <input type="password" th:field="*{password}" maxlength="320" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Security Question:</td>
                                <td>
                                    <input type="text" th:field="*{securityQuestion}" maxlength="100" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('securityQuestion')}" class="text-danger" th:errors="*{securityQuestion}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Security Answer:</td>
                                <td>
                                    <input type="password" th:field="*{securityAnswer}" maxlength="50" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('securityAnswer')}" class="text-danger" th:errors="*{securityAnswer}"></div>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" th:field="*{isActive}" />
                        <input type="hidden" th:field="*{isLocked}" />
                        <input type="hidden" th:field="*{dateCreated}" />
                        <input type="hidden" th:field="*{lastLoginDate}" />
                        <br />
                        <button type="submit" class="btn btn-info">Save</button>
                    </form>
                    <br />
                    <a href="/list-users" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Return to User List</a>
                    <br />
                </div>
            </div>
        </div>
    </body>
</html>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <main role="main" class="pb-3">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-9 mx-auto">
        				<h1>Add an User</h1>
        				<form method="get" action="search-users">
                            <input type="text" name="keyword" pattern="[A-Za-z0-9\s\-._~:\/?#\[\]@!$&'()*+,;=]*" />&nbsp;&nbsp;
                            <input type="submit" value="Search" />
                        </form>
                        <br>
                        <a href="/add-user" class="btn btn-primary">Add an User</a>
                        <hr>
                        <form action="#" th:action="@{/save-user}" th:object="${user}" method="post">
                        	<table id="list_table" class="table table-striped table-bordered dt-responsive display">
                        		<tr class="d-none">             
                                    <td colspan="2">
                                        <input type="text" th:field="*{userID}" readonly="readonly" hidden="hidden" />
                                    </td>
                                </tr>
                                <tr>
                        			<td class="align-middle">User Last Name:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('lastName')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control" maxlength="50" th:field="*{lastName}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User First Name:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('firstName')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control" maxlength="50" th:field="*{firstName}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Date of Birth (DOB):</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('DOB')} ? 'input-icon right' : ''">
                                            <input type="date" class="form-control" maxlength="50" th:field="*{DOB}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('DOB')}" class="text-danger" th:errors="*{DOB}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">SSN:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('SSN')} ? 'input-icon right' : ''">
                                            <input type="number" class="form-control"  th:field="*{SSN}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('SSN')}" class="text-danger" th:errors="*{SSN}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Street Address:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('streetAddress')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{streetAddress}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('streetAddress')}" class="text-danger" th:errors="*{streetAddress}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">City:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('city')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{city}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('city')}" class="text-danger" th:errors="*{city}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">State:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('state')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{state}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('state')}" class="text-danger" th:errors="*{state}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Zip:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('zipCode')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{zipCode}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('zipCode')}" class="text-danger" th:errors="*{zipCode}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Phone:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('phone')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{phone}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('phone')}" class="text-danger" th:errors="*{phone}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Password:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('password')} ? 'input-icon right' : ''">
                                            <input type="password" class="form-control" maxlength="50" th:field="*{password}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Point of Contact (POC) Name:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('pocName')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{pocName}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('pocName')}" class="text-danger" th:errors="*{pocName}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Point of Contact (POC) Phone Number:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('pocPhone')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{pocPhone}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('pocPhone')}" class="text-danger" th:errors="*{pocPhone}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Agent ID Number:</td>
                                    <td class="align-middle">
			                            <select th:field="*{userAgentNo}" class="form-control">
			                                <option value="">None</option>
			                                <option th:each="agent : ${agents}" th:value="${agent.userID}" th:text="${agent.userID} + ': ' + ${agent.firstName} + ' ' + ${agent.lastName}">Choose a User Agent</option>
			                            </select>
                        			</td>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Doctor Name:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('doctorName')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{doctorName}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('doctorName')}" class="text-danger" th:errors="*{doctorName}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Doctor Phone Number:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('doctorPhone')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{doctorPhone}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('doctorPhone')}" class="text-danger" th:errors="*{doctorPhone}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Insurance Company:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('insCompany')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{insCompany}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('insCompany')}" class="text-danger" th:errors="*{insCompany}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Insurance Policy Number:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('insPolicyNo')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{insPolicyNo}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('insPolicyNo')}" class="text-danger" th:errors="*{insPolicyNo}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Advance Directive?</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('advDirective')} ? 'input-icon right' : ''">
                                            <input type="checkbox" class="form-control" th:field="*{advDirective}" th:value="${user}" />
                                            <span th:if="${#fields.hasErrors('advDirective')}" class="text-danger" th:errors="*{advDirective}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Advance Directive Type:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('advDirType')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{advDirType}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('advDirType')}" class="text-danger" th:errors="*{advDirType}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Comments:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('userComments')} ? 'input-icon right' : ''">
                                            
                                            <textarea th:field="*{userComments}" class="form-control" rows="4" cols="50"></textarea>
                                            <span th:if="${#fields.hasErrors('userComments')}" class="text-danger" th:errors="*{userComments}"></span>
                                    </div>
                        		</tr>
                        		<tr>
			                        <td colspan="2">
			                            <hr />
			                        </td>
                    			</tr>
                    			<tr>
                        			<td class="align-middle">User Email:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('username')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{username}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User Security Question:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('securityQuestion')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control"  maxlength="50" th:field="*{securityQuestion}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('securityQuestion')}" class="text-danger" th:errors="*{securityQuestion}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Date Created:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('dateCreated')} ? 'input-icon right' : ''">
                                            <input type="datetime-local" class="form-control"  maxlength="50" th:field="*{dateCreated}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('dateCreated')}" class="text-danger" th:errors="*{dateCreated}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Last Login:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('lastLoginDate')} ? 'input-icon right' : ''">
                                            <input type="datetime-local" class="form-control"  maxlength="50" th:field="*{lastLoginDate}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('lastLoginDate')}" class="text-danger" th:errors="*{lastLoginDate}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">User's Role:</td>
                                    <td class="align-middle">
			                            <select th:field="*{role}" class="form-control">
                                			<option th:each="role : ${roles}" th:value="${{role}}" th:text="${role.title}">Choose a Role</option>
                            			</select>
                        			</td>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Active?</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('isActive')} ? 'input-icon right' : ''">
                                            <input type="checkbox" class="form-control" th:field="*{isActive}" th:value="${user}" />
                                            <span th:if="${#fields.hasErrors('isActive')}" class="text-danger" th:errors="*{isActive}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Locked Out</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('isLocked')} ? 'input-icon right' : ''">
                                            <input type="checkbox" class="form-control" th:field="*{isLocked}" th:value="${user}" />
                                            <span th:if="${#fields.hasErrors('isLocked')}" class="text-danger" th:errors="*{isLocked}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Administrator Comments:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('adminComments')} ? 'input-icon right' : ''">
                                            <textarea th:field="*{adminComments}" class="form-control" rows="4" cols="50"/>
                                            <span th:if="${#fields.hasErrors('adminComments')}" class="text-danger" th:errors="*{adminComments}"></span>
                                    </div>
                        		</tr>
                                <tr>
                                    <td colspan="2">
                                        <button type="submit" class="btn btn-info">Save</button>
                                    </td>
                                </tr>
                        	</table>
                        </form>
                        <br />
                        <a href="/list-users" class="btn btn-primary">Return to User List</a>
                        <br><br><br><br>
                    </div>
        		</div>
        	</div>
        </main>
       <footer class="border-top footer text-muted">
            <div class="container">
                <span class="mt-5 mb-3 text-muted">Copyright &copy; 2020<span id="currentYear"></span> Team EMS Plus. All Rights Reserved.</span>
            </div>
        </footer>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('#list_table').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            });
            // Set copyright ending year to current year
            var date = new Date();
            var fullYear = date.getFullYear();
            if (fullYear !== 2020) {
                document.getElementById("currentYear").innerHTML = " - " + fullYear;
            }
        </script>
    </body>
</html>
