<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>VLOL Admin | Create a New User</title>
        <style>
            td {
                text-align: left;
                vertical-align: top;
                white-space: nowrap;
            }
            input:not([type="checkbox"]) {
                width: 100%;
            }
            textarea {
                resize: none;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pt-4">Create a New User</h1>
                    <form method="get" action="/admin/search-users">
                        <input type="text" name="keyword" pattern="[A-Za-z0-9\s\-._~:\/?#\[\]@!$&'()*+,;=]*" style="width:20em;" />&nbsp;&nbsp;
                        <button type="submit" class="btn btn-info"><i class="fas fa-search"></i> Full Search</button>
                    </form>
                    <hr />
                    <form action="#" th:action="@{/admin/create-user}" th:object="${user}" method="post" data-parsley-validate="">
                        <table id="list_table" class="table table-bordered dt-responsive display">
                            <tr>             
                                <td><label for="firstName">First Name</label></td>
                                <td>
                                    <input class="form-control" id="firstName" type="text" th:field="*{firstName}" maxlength="50" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td><label for="lastName">Last Name</label></td>
                                <td class="w-100">
                                    <input class="form-control" id="lastName" type="text" th:field="*{lastName}" maxlength="100" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="email">Email</label></td>
                                <td>
                                    <input class="form-control" id="email" type="email" th:field="*{email}" maxlength="320" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="password">Password</label></td>
                                <td>
                                    <input class="form-control" id="password" type="password" th:field="*{password}" maxlength="320" data-parsley-minlength="8" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></div>
                                </td>
                            </tr>
<!--                        Admin Section-->
                            <tr sec:authorize="hasAnyAuthority('admin')">
                                <td><label for="role">User Role</label></td>
                                <td>
                                    <select class="form-control" th:field="*{role}" id="role">
                                        <option th:each="role : ${roles}" th:value="${{role}}" th:text="${role.title}">Choose a Role</option>
                                    </select>
                                </td>
                            </tr>
                            <tr sec:authorize="hasAnyAuthority('admin')">
                                <td><label for="isLocked">Locked Out</label></td>
                                <td>
                                    <input class="form-control" type="checkbox" id="isLocked" th:field="*{isLocked}" th:value="${user}" />
                                </td>
                            </tr>
                            <tr sec:authorize="hasAnyAuthority('admin')">
                                <td><label for="isEmailVerified">Email Verified</label></td>
                                <td>
                                    <input class="form-control" type="checkbox" id="isEmailVerified" th:field="*{isEmailVerified}" th:value="${user}" />
                                </td>
                            </tr>
                            <tr sec:authorize="hasAnyAuthority('admin')">
                                <td><label for="isAccountVerified">Account Verified</label></td>
                                <td>
                                    <input class="form-control" type="checkbox" id="isAccountVerified" th:field="*{isAccountVerified}" th:value="${user}" />
                                </td>
                            </tr>
                            <tr sec:authorize="hasAnyAuthority('admin')">
                                <td><label for="adminComments">Administrator Comments:</label></td>
                                <td>
                                    <textarea class="form-control" id="adminComments" th:field="*{adminComments}" rows="4" data-parsley-rfc3986="" data-parsley-maxlength="65535" />
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" th:field="*{isLocked}" />
                        <input type="hidden" th:field="*{dateCreated}" />
                        <input type="hidden" th:field="*{lastLoginDate}" />
                        <br />
                        <button type="submit" class="btn btn-info">Save</button>
                    </form>
                    <br />
                    <a href="/list-users" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Return to User List</a>
                    <br />
                </div>
            </div>
        </div>
    </body>
</html>