<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Add a Medication</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/site.css}"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    </head>
    <body>
    	<header>
            <!-- Navigation -->
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" href="/">VLOL</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="register" th:href="@{/registration}">Register</a>
                            </li>
                            <li class="nav-item">
                                <div sec:authorize="isAuthenticated()">
                                    <a class="nav-link text-dark" id="login" th:href="@{/logout}">Log out</a>
                                </div>
                                <div sec:authorize="isAnonymous()">
                                    <a class="nav-link text-dark" id="login" th:href="@{/login}">Log in</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/admin-menu">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    
    	<main role="main" class="pb-3">
    		<div class="container">
    			<div class="row">
    				<div class="col-lg-9 mx-auto">
    					<h1>Add a Medication</h1>
    					<form method="get" action="search-medications">
                            <input type="text" name="keyword" pattern="[A-Za-z0-9\s\-._~:\/?#\[\]@!$&'()*+,;=]*" />&nbsp;&nbsp;
                            <input type="submit" value="Search" />
                        </form>
                        <br>
                        <a href="/add-medication" class="btn btn-primary">Add a Medication</a>
                        <hr>
                        <form action="#" th:action="@{/save-medication}" th:object="${medication}" method="post">
                        	<table id="list_table" class="table table-striped table-bordered dt-responsive display">
                        		<tr>
                        			<td class="align-middle">Brand Name:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('brandName')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control" maxlength="50" th:field="*{brandName}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('brandName')}" class="text-danger" th:errors="*{brandName}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Generic Name:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('genericName')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control" maxlength="50" th:field="*{genericName}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('genericName')}" class="text-danger" th:errors="*{genericName}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Drug Action:</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('drugAction')} ? 'input-icon right' : ''">
                                            <input type="text" class="form-control" maxlength="50" th:field="*{drugAction}" placeholder="Required"/>
                                            <span th:if="${#fields.hasErrors('drugAction')}" class="text-danger" th:errors="*{drugAction}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Controlled?</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('controlled')} ? 'input-icon right' : ''">
                                            <input type="checkbox" class="form-control" name="controlled" th:checked="${controlled}" />
                                            <span th:if="${#fields.hasErrors('controlled')}" class="text-danger" th:errors="*{controlled}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                        			<td class="align-middle">Blood Thinner?</td>
                                    <td class="align-middle">
                                    <div th:classappend="${#fields.hasErrors('bloodThinner')} ? 'input-icon right' : ''">
                                            <input type="checkbox" class="form-control" name="bloodThinner" th:checked="${bloodThinner}" />
                                            <span th:if="${#fields.hasErrors('bloodThinner')}" class="text-danger" th:errors="*{bloodThinner}"></span>
                                    </div>
                        		</tr>
                        		<tr>
                                    <td colspan="2">
                                        <button type="submit" class="btn btn-info">Save</button>
                                    </td>
                                </tr>
                        	</table>
                        </form>
                        <br />
                        <a href="/list-medications" class="btn btn-primary">Return to Medications List</a>
                        <br><br><br>
    				</div>
    			</div>
    		</div>
    	</main>
    	
    	<footer class="border-top footer text-muted">
            <div class="container">
                <span class="mt-5 mb-3 text-muted">Copyright &copy; 2020<span id="currentYear"></span> Team EMS Plus. All Rights Reserved.</span>
            </div>
        </footer>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('#list_table').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            });
            // Set copyright ending year to current year
            var date = new Date();
            var fullYear = date.getFullYear();
            if (fullYear !== 2020) {
                document.getElementById("currentYear").innerHTML = " - " + fullYear;
            }
        </script>
       </body>
</html>