<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Create a New Medication</title>
    </head>
    <body>
        <div align="center">
            <h1>Create a New Medication</h1>
            <br />
            <form action="#" th:action="@{/save-medication}" th:object="${medication}" method="post">
                <table border="0" cellpadding="10">
                    <tr>
                        <td>Brand Name:</td>
                        <td>
                            <input type="text" th:field="*{brandName}" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit">Save</button> 
                        </td>
                    </tr>
                </table>
            </form>
            <br />
            <a href="/list-medications">Return to Medication Manager</a>
        </div>
    </body>
</html>