<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Medication</title>
    </head>
    <body>
        <div align="center">
            <h1>Edit Medication</h1>
            <br />
            <form action="#" th:action="@{/save-medication}" th:object="${medication}" method="post">
                <table border="0" cellpadding="10">
                    <tr>             
                        <td>Medication ID:</td>
                        <td>
                            <input type="text" th:field="*{medicationID}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>             
                        <td>Brand Name:</td>
                        <td>
                            <input type="text" th:field="*{brandName}" />
                        </td>
                    </tr>
                    <tr>
                        <td>Generic Name:</td>
                        <td>
                            <input type="text" th:field="*{genericName}" />
                        </td>
                    </tr>
                    <tr>
                        <td>Drug Action:</td>
                        <td>
                            <input type="text" th:field="*{drugAction}" />
                        </td>
                    </tr>
                    <tr>
                        <td>Controlled?</td>
                        <td>
                            <input type="checkbox" th:field="*{controlled}" th:value="${medication}" />
                        </td>
                    </tr>
                    <tr>
                        <td>Blood Thinner?</td>
                        <td>
                            <input type="checkbox" th:field="*{bloodThinner}" th:value="${medication}" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit">Save</button>
                        </td>
                    </tr>
                </table>
            </form>
            <br />
            <a href="/list-medications">Return to Medication Manager</a>
        </div>
    </body>
</html>
