<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>Edit Role</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pt-4">Edit Role</h1>
                    <form method="get" action="/search-roles">
                        <input type="text" name="keyword" pattern="[A-Za-z0-9\s\-._~:\/?#\[\]@!$&'()*+,;=]*" />&nbsp;&nbsp;
                        <button type="submit" class="btn btn-info"><i class="fas fa-search"></i> Full Search</button>
                    </form>
                    <hr />
                    <a href="/add-role" class="btn btn-success"><i class="fas fa-plus"></i> Add a Role</a>
                    <hr />
                    <form action="#" th:action="@{/update-role}" th:object="${role}" method="post">
                        <table id="list_table" class="table table-bordered dt-responsive display">
                            <tr class="d-none">             
                                <td colspan="2">
                                    <input type="text" th:field="*{roleID}" readonly="readonly" hidden="hidden" />
                                </td>
                            </tr>
                            <tr>
                                <td>Role Title:</td>
                                <td>
                                    <input type="text" th:field="*{title}" />
                                </td>
                            </tr>
                            <tr>
                                <td>Role Access Level:</td>
                                <td>
                                    <input type="text" th:field="*{accessLevel}" />
                                </td>
                            </tr>
                            <tr>
                                <td>Role Description:</td>
                                <td>
                                    <input type="text" th:field="*{description}" />
                                </td>
                            </tr>
                        </table>
                        <button type="submit" class="btn btn-info">Save</button>
                    </form>
                    <br />
                    <a href="/list-roles" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Return to Role List</a>
                    <br />
                </div>
            </div>
        </div>
    </body>
</html>
