<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>Edit User</title>
        <style>
            td {
                text-align: left;
                vertical-align: top;
                white-space: nowrap;
            }
            input:not([type="checkbox"]) {
                width: 100%;
            }
            textarea {
                resize: none;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pt-4">Edit User</h1>
                    <form method="get" action="/search-users">
                        <input type="text" name="keyword" pattern="[A-Za-z0-9\s\-._~:\/?#\[\]@!$&'()*+,;=]*" style="width:20em;" />&nbsp;&nbsp;
                        <button type="submit" class="btn btn-info"><i class="fas fa-search"></i> Full Search</button>
                    </form>
                    <hr />
                    <a href="/add-user" class="btn btn-success"><i class="fas fa-plus"></i> Add a User</a>
                    <hr />
                    <form action="#" th:action="@{/update-user}" th:object="${user}" method="post">
                        <table id="list_table" class="table table-bordered dt-responsive display">
                            <tr class="d-none">             
                                <td colspan="2">
                                    <input type="text" th:field="*{userID}" readonly="readonly" hidden="hidden" />
                                </td>
                            </tr>
                            <tr>             
                                <td>Last Name</td>
                                <td class="w-100">
                                    <input type="text" th:field="*{lastName}" maxlength="100" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>First Name:</td>
                                <td>
                                    <input type="text" th:field="*{firstName}" maxlength="50" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Date of Birth (DOB):</td>
                                <td>
                                    <input type="date" th:field="*{DOB}" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('DOB')}" class="text-danger" th:errors="*{DOB}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Social Security Number (SSN):</td>
                                <td>
                                    <input type="number" th:field="*{SSN}" maxlength="9" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('SSN')}" class="text-danger" th:errors="*{SSN}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Street Address:</td>
                                <td>
                                    <input type="text" th:field="*{streetAddress}" maxlength="100" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('streetAddress')}" class="text-danger" th:errors="*{streetAddress}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>City:</td>
                                <td>
                                    <input type="text" th:field="*{city}" maxlength="50" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('city')}" class="text-danger" th:errors="*{city}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>State:</td>
                                <td>
                                    <input type="text" th:field="*{state}" maxlength="2" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('state')}" class="text-danger" th:errors="*{state}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>ZIP Code:</td>
                                <td>
                                    <input type="text" th:field="*{zipCode}" maxlength="5" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('zipCode')}" class="text-danger" th:errors="*{zipCode}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Phone Number:</td>
                                <td>
                                    <input type="tel" th:field="*{phone}" maxlength="10" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('phone')}" class="text-danger" th:errors="*{phone}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Point of Contact (POC) Name:</td>
                                <td>
                                    <input type="text" th:field="*{pocName}" maxlength="100" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('pocName')}" class="text-danger" th:errors="*{pocName}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>POC Phone Number:</td>
                                <td>
                                    <input type="tel" th:field="*{pocPhone}" maxlength="10" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('pocPhone')}" class="text-danger" th:errors="*{pocPhone}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Agent ID Number:</td>
                                <td>
                                    <select th:field="*{userAgentNo}">
                                        <option value="">None</option>
                                        <option th:each="agent : ${agents}" th:value="${agent.userID}" th:text="${agent.userID} + ': ' + ${agent.firstName} + ' ' + ${agent.lastName}">Choose a User Agent</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>             
                                <td>Doctor Name:</td>
                                <td>
                                    <input type="text" th:field="*{doctorName}" maxlength="100" />
                                    <div th:if="${#fields.hasErrors('doctorName')}" class="text-danger" th:errors="*{doctorName}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Doctor Phone Number:</td>
                                <td>
                                    <input type="tel" th:field="*{doctorPhone}" maxlength="10" />
                                    <div th:if="${#fields.hasErrors('doctorPhone')}" class="text-danger" th:errors="*{doctorPhone}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Insurance Company:</td>
                                <td>
                                    <input type="text" th:field="*{insCompany}" maxlength="50" />
                                    <div th:if="${#fields.hasErrors('insCompany')}" class="text-danger" th:errors="*{insCompany}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Insurance Policy Number:</td>
                                <td>
                                    <input type="text" th:field="*{insPolicyNo}" maxlength="50" />
                                    <div th:if="${#fields.hasErrors('insPolicyNo')}" class="text-danger" th:errors="*{insPolicyNo}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Advance Directive?</td>
                                <td class="text-wrap">
                                    <div>Check this box if the user has an advance directive (e.g., DNR, MOLST, etc.):</div>
                                    <input type="checkbox" th:field="*{advDirective}" th:value="${user}" />
                                    <div th:if="${#fields.hasErrors('advDirective')}" class="text-danger" th:errors="*{advDirective}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Advance Directive Type:</td>
                                <td>
                                    <input type="text" th:field="*{advDirType}" maxlength="50" />
                                    <div th:if="${#fields.hasErrors('advDirType')}" class="text-danger" th:errors="*{advDirType}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Allergies:</td>
                                <td class="text-wrap">
                                    <p><b>Note</b> - If an allergy is not listed, check 'Other' and enter any missing allergies in the User Comments section.</p>
                                    <ul style="column-count: 2; list-style: none; padding-left: 0;">
                                        <li th:each="allergy : ${allergies}">
                                            <input type="checkbox" name="allergies"
                                                   th:utext="'&nbsp;' + ${allergy.allergyName}"
                                                   th:value="${allergy.allergyID}"
                                                   th:checked="${#sets.contains(user.allergies, allergy)}"
                                                   th:name="allergies"
                                                   />
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Conditions:</td>
                                <td class="text-wrap">
                                    <p><b>Note</b> - If a condition is not listed, check 'Other' and enter any missing conditions in the User Comments section.</p>
                                    <ul style="column-count: 2; list-style: none; padding-left: 0;">
                                        <li th:each="condition : ${conditions}">
                                            <input type="checkbox" name="conditions"
                                                   th:utext="'&nbsp;' + ${condition.conditionName}"
                                                   th:value="${condition.conditionID}"
                                                   th:checked="${#sets.contains(user.conditions, condition)}"
                                                   th:name="conditions"
                                                   />
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Medications:</td>
                                <td class="text-wrap">
                                    <p><b>Note</b> - If a medication is not listed, check 'Other' and enter any missing medications in the User Comments section.</p>
                                    <ul style="column-count: 2; list-style: none; padding-left: 0;">
                                        <li th:each="medication : ${medications}">
                                            <input type="checkbox" name="medications"
                                                   th:utext="'&nbsp;' + ${medication.brandName} + ' / ' + ${medication.genericName}"
                                                   th:value="${medication.medicationID}"
                                                   th:checked="${#sets.contains(user.medications, medication)}"
                                                   th:name="medications"
                                                   />
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>             
                                <td>User Comments:</td>
                                <td>
                                    <textarea th:field="*{userComments}" rows="4" />
                                    <div th:if="${#fields.hasErrors('userComments')}" class="text-danger" th:errors="*{userComments}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr />
                                </td>
                            </tr>
                            <tr>             
                                <td>Email / User Name:</td>
                                <td>
                                    <input type="email" th:field="*{username}" maxlength="320" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Security Question:</td>
                                <td>
                                    <input type="text" th:field="*{securityQuestion}" maxlength="100" placeholder="Required" required="required" />
                                    <div th:if="${#fields.hasErrors('securityQuestion')}" class="text-danger" th:errors="*{securityQuestion}"></div>
                                </td>
                            </tr>
                            <tr>             
                                <td>Date Created:</td>
                                <td>
                                    <input type="datetime-local" th:field="*{dateCreated}" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>             
                                <td>Last Login:</td>
                                <td>
                                    <input type="datetime-local" th:field="*{lastLoginDate}" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>             
                                <td>User Role:</td>
                                <td>
                                    <select th:field="*{role}">
                                        <option th:each="role : ${roles}" th:value="${{role}}" th:text="${role.title}">Choose a Role</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Active?</td>
                                <td>
                                    <input type="checkbox" th:field="*{isActive}" th:value="${user}" />
                                </td>
                            </tr>
                            <tr>
                                <td>Locked Out?</td>
                                <td>
                                    <input type="checkbox" th:field="*{isLocked}" th:value="${user}" />
                                </td>
                            </tr>
                            <tr>             
                                <td>Administrator Comments:</td>
                                <td>
                                    <textarea th:field="*{adminComments}" rows="4" />
                                </td>
                            </tr>
                        </table>
                        <button type="submit" class="btn btn-info">Save</button>
                    </form>
                    <br />
                    <a href="/list-users" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Return to User List</a>
                    <br />
                </div>
            </div>
        </div>
    </body>
</html>
