<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>Edit an Allergy</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pt-4">Edit an Allergy</h1>
                    <form method="get" action="/search-allergies">
                        <input type="text" name="keyword" pattern="[A-Za-z0-9\s\-._~:\/?#\[\]@!$&'()*+,;=]*" />&nbsp;&nbsp;
                        <button type="submit" class="btn btn-info"><i class="fas fa-search"></i> Full Search</button>
                    </form>
                    <hr />
                    <a href="/add-allergy" class="btn btn-success"><i class="fas fa-plus"></i> Add an Allergy</a>
                    <hr />
                    <form action="#" th:action="@{/update-allergy}" th:object="${allergy}" method="post">
                        <table id="list_table" class="table table-bordered dt-responsive display">
                            <tr class="d-none">             
                                <td colspan="2">
                                    <input type="text" th:field="*{allergyID}" readonly="readonly" hidden="hidden" />
                                </td>
                            </tr>
                            <tr>             
                                <td class="align-middle text-nowrap">Allergy Name:</td>
                                <td class="w-100">
                                    <div th:classappend="${#fields.hasErrors('allergyName')} ? 'input-icon right' : ''">
                                        <input type="text" class="form-control" maxlength="50" th:field="*{allergyName}" placeholder="Required"/>
                                        <span th:if="${#fields.hasErrors('allergyName')}" class="text-danger" th:errors="*{allergyName}"></span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <button type="submit" class="btn btn-info">Save</button>
                    </form>
                    <br />
                    <a href="/list-allergies" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Return to Allergy List</a>
                    <br />
                </div>
            </div>
        </div>
    </body>
</html>
