<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Role Manager</title>
    </head>
    <body>
        <div align="center">
            <h1>Role Manager</h1>
            <form method="get" action="search-roles">
                <input type="text" name="keyword" />&nbsp;&nbsp;
                <input type="submit" value="Search" />
            </form>
            <br />
            <a href="/add-role">Add a Role</a>
            <br/><br/>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Role ID</th>
                        <th>Role Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="role : ${roleList}">
                        <td th:text="${role.roleID}">Role ID</td>
                        <td th:text="${role.title}">Role Title</td>
                        <td>
                            <a th:href="@{/edit-role/{id}(id=${role.roleID})}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{/delete-role/{id}(id=${role.roleID})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <a href="/admin-menu">Return to Administration Menu</a>
        </div>   
    </body>
</html>