<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Medication Manager</title>
    </head>
    <body>
        <div align="center">
            <h1>Medication Manager</h1>
            <form method="get" action="search-medications">
                <input type="text" name="keyword" />&nbsp;&nbsp;
                <input type="submit" value="Search" />
            </form>
            <br />
            <a href="/add-medication">Add a Medication</a>
            <br/><br/>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Medication ID</th>
                        <th>Brand Name</th>
                        <th>Generic Name</th>
                        <th>Drug Action</th>
                        <th>Controlled?</th>
                        <th>Blood Thinner?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="medication : ${medicationList}">
                        <td th:text="${medication.medicationID}">Medication ID</td>
                        <td th:text="${medication.brandName}">Brand Name</td>
                        <td th:text="${medication.genericName}">Generic Name</td>
                        <td th:text="${medication.drugAction}">Drug Action</td>
                        <td th:text="${medication.controlled}">Controlled?</td>
                        <td th:text="${medication.bloodThinner}">Blood Thinner?</td>
                        <td>
                            <a th:href="@{/edit-medication/{id}(id=${medication.medicationID})}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{/delete-medication/{id}(id=${medication.medicationID})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <a href="/admin-menu">Return to Administration Menu</a>
        </div>   
    </body>
</html>