<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Role Search Results</title>
    </head>
    <body>
        <div align="center">
            <h2>Role Search Results</h2>
            <br />
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Role ID</th>
                        <th>Role Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="roles : ${result}">
                        <td th:text="${roles.roleID}">Role ID</td>
                        <td th:text="${roles.title}">Role Title</td>
                        <td>
                            <a th:href="@{/edit-roles/{id}(id=${roles.roleID})}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{/delete-roles/{id}(id=${roles.roleID})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <a href="/list-roles">Return to Role Manager</a>
        </div>   
    </body>
</html>
