<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User Search Results</title>
    </head>
    <body>
        <div align="center">
            <h2>User Search Results</h2>
            <br />
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Last Name</th>
                        <th>User First Name</th>
                        <th>User Role</th>
                        <th>User Email</th>
                        <th>Last Login</th>
                        <th>Active?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${result}">
                        <td th:text="${user.userID}">User ID</td>
                        <td th:text="${user.lastName}">User Last Name</td>
                        <td th:text="${user.firstName}">User First Name</td>
                        <td th:text="${user.role.title}">User Role</td>
                        <td th:text="${user.email}">User Email</td>
                        <td th:text="${user.lastLoginDate}">Last Login</td>
                        <td th:text="${user.active}">Active?</td>
                        <td>
                            <a th:href="@{/edit-user/{id}(id=${user.userID})}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{/delete-user/{id}(id=${user.userID})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <a href="/list-users">Return to User Manager</a>
        </div>   
    </body>
</html>
