<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/datatable-master}"
      lag="en">
    <head>
        <title>View a User</title>
        <style>
            td {
                text-align: left;
                vertical-align: top;
                white-space: nowrap;
            }
            input:not([type="checkbox"]) {
                width: 100%;
            }
            textarea {
                resize: none;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pt-4">View a User</h1>
                    <span sec:authorize="hasAnyAuthority('admin', 'agent', 'provider')">
                        <form method="get" action="/search-users">
                            <input type="text" name="keyword" pattern="[A-Za-z0-9\s\-._~:\/?#\[\]@!$&'()*+,;=]*" style="width:20em;" />&nbsp;&nbsp;
                            <button type="submit" class="btn btn-info"><i class="fas fa-search"></i> Full Search</button>
                        </form>
                    </span>
                    <span sec:authorize="hasAnyAuthority('admin')">                    
                        <hr />
                        <a href="/add-user" class="btn btn-success"><i class="fas fa-plus"></i> Add a User</a>
                    </span>
                    <hr />
                    <table id="list_table" class="table table-striped table-bordered dt-responsive display nowrap">
                        <thead>
                            <tr>
                                <th data-priority="1" class="disabled-sorting">Item</th>
                                <th data-priority="1" class="disabled-sorting">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-nowrap">ID:</td>
                                <td class="w-100" th:text="${user.userID}">ID</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Last Name:</td>
                                <td th:text="${user.lastName}">Last Name</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">First Name:</td>
                                <td th:text="${user.firstName}">First Name</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Date of Birth (DOB):</td>
                                <td th:text="${user.DOB}">Date of Birth (DOB):</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Social Security Number (SSN):</td>
                                <td th:text="${user.SSN}">Social Security Number (SSN):</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Street Address:</td>
                                <td th:text="${user.streetAddress}">Street Address:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">City:</td>
                                <td th:text="${user.city}">City:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">State:</td>
                                <td th:text="${user.state}">State:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">ZIP Code:</td>
                                <td th:text="${user.zipCode}">ZIP Code:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Phone Number:</td>
                                <td th:text="${user.phone}">Phone Number:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Point of Contact (POC) Name:</td>
                                <td th:text="${user.pocName}">Point of Contact (POC) Name:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">POC Phone Number:</td>
                                <td th:text="${user.pocPhone}">POC Phone Number:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Agent ID Number:</td>
                                <td th:text="${agent.userID} != null ? ${agent.userID} + ': ' + ${agent.firstName} + ' ' + ${agent.lastName} : 'None.'">Agent ID Number:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Doctor Name:</td>
                                <td th:text="${user.doctorName}">Doctor Name:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Doctor Phone Number:</td>
                                <td th:text="${user.doctorPhone}">Doctor Phone Number:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Insurance Company:</td>
                                <td th:text="${user.insCompany}">Insurance Company:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Insurance Policy Number:</td>
                                <td th:text="${user.insPolicyNo}">Insurance Policy Number:</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">Advance Directive?</td>
                                <td><input type="checkbox" th:field="*{user.advDirective}" th:value="${user}" disabled="disabled" /></td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Advance Directive Type:</td>
                                <td th:text="${user.advDirType} != '' ? ${user.advDirType} : 'None.'">Advance Directive Type:</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">Allergies:</td>
                                <td class="text-wrap">
                                    <p><b>Note</b> - Check for additional allergies in the Comments section.</p>
                                    <ul style="column-count: 2; list-style: none; padding-left: 0;">
                                        <li th:each="allergy : ${allergies}">
                                            <input type="checkbox" name="allergies"
                                                   th:utext="'&nbsp;' + ${allergy.allergyName}"
                                                   th:value="${allergy.allergyID}"
                                                   th:checked="${#sets.contains(user.allergies, allergy)}"
                                                   th:name="allergies"
                                                   disabled="disabled"
                                                   />
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">Conditions:</td>
                                <td class="text-wrap">
                                    <p><b>Note</b> - Check for additional conditions in the Comments section.</p>
                                    <ul style="column-count: 2; list-style: none; padding-left: 0;">
                                        <li th:each="condition : ${conditions}">
                                            <input type="checkbox" name="conditions"
                                                   th:utext="'&nbsp;' + ${condition.conditionName}"
                                                   th:value="${condition.conditionID}"
                                                   th:checked="${#sets.contains(user.conditions, condition)}"
                                                   th:name="conditions"
                                                   disabled="disabled"
                                                   />
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">Medications:</td>
                                <td class="text-wrap">
                                    <p><b>Note</b> - Check for additional medications in the Comments section.</p>
                                    <ul style="column-count: 2; list-style: none; padding-left: 0;">
                                        <li th:each="medication : ${medications}">
                                            <input type="checkbox" name="medications"
                                                   th:utext="'&nbsp;' + ${medication.brandName} + ' / ' + ${medication.genericName}"
                                                   th:value="${medication.medicationID}"
                                                   th:checked="${#sets.contains(user.medications, medication)}"
                                                   th:name="medications"
                                                   disabled="disabled"
                                                   />
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">User Comments:</td>
                                <td th:text="${user.userComments} != '' ? ${user.userComments} : 'None.'">User Comments:</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr />
                                </td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Email / User Name:</td>
                                <td th:text="${user.username}">Email / User Name:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Date Created:</td>
                                <td th:text="${user.dateCreated}">Date Created:</td>
                            </tr>
                            <tr>             
                                <td class="text-nowrap">Last Login:</td>
                                <td th:text="${user.lastLoginDate}">Last Login:</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">Active?</td>
                                <td th:text="${user.isActive}">Active?</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div sec:authorize="hasAnyAuthority('admin', 'agent', 'provider')">
                        <a href="/list-users" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Return to User List</a>
                    </div>
                    <br />
                    <a href="/admin-menu" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Return to Administration Menu</a>
                    <br />
                </div>
            </div>
        </div>
    </body>
</html>
