<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title th:text="'VLOL | ' + (${allergy.allergyId}!=null?'Edit':'Add')+ ' an Allergy'"></title>
    </head>
    <body>
        <div align="center" layout:fragment="content" class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 mb-5">
                    <h1 th:text="(${allergy.allergyId}!=null?'Edit':'Add')+ ' a Allergy'"></h1>
                </div>
            </div>
            <form action="#" th:object="${allergy}" th:action="'/user/save-allergy/'+${userId}" method="post" data-parsley-validate="">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="form-group">
                          <label for="allergyName">Allergy Name</label>
                          <div style="font-size:small"><em>This field will autocomplete as you type.</em></div>
                          <input type="search" class="form-control typeahead" id="allergyName" th:field="*{allergyName}" placeholder="Enter your allergy" data-parsley-maxlength="256" data-parsley-rfc3986="" data-parsley-required/>
                        </div>
                        <input type="hidden" th:field="*{allergyId}" />
                        <input type="hidden" th:field="*{referenceId}" id="referenceId"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
            <div class="row mt-5">
                <div class="col-md-6 offset-md-3">
                    <a th:href="|/user/allergies/${userId}|">Return to Allergy Manager</a>
                </div>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", ()=>{
                    $('.typeahead').typeahead({
                        minLength: 1
                      },
                    {
                        name: 'allergy',
                        display: 'value',
                        async: true,
                        limit: Infinity,
                        source: function (text, syncResults, asyncResults) {
                            // let's do a custom ajax call
                            Promise.all(
                                [
                                    fetch("/search-allergies?keyword="+text).then(res=>res.json()),
                                    fetch("/search-medications?keyword="+text).then(res=>res.json())
                                ]
                            ).then(([allergyData, drugData])=>{
                                const ret1 = allergyData.map((d)=>{
                                    return {...d,value:d.allergyName}
                                });
                                const ret2 = drugData.map((d)=>{
                                    const value = d.brandName && d.brandName !== d.genericName
                                    ? d.brandName+"\n("+d.genericName+")"
                                    : d.genericName;
                                    return {...d,value:value}
                                });
                                asyncResults(ret1.concat(ret2));
                            }).catch(()=>asyncResults([]));
                        }
                    });
                    $('.typeahead').bind('typeahead:select', function(ev, data) {
                        $('#allergyName').val(data.allergyName || data.value);
                        $('#referenceId').val(data.referenceId);
                    });
                });
            </script>
        </div>
    </body>
</html>