<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title th:text="(${condition.conditionId}!=null?'Edit':'Add')+ ' a Condition'"></title>
    </head>
    <body>
        <div align="center" layout:fragment="content" class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 mb-5">
                    <h1 th:text="(${condition.conditionId}!=null?'Edit':'Add')+ ' a Condition'"></h1>
                </div>
            </div>
            <form action="#" th:object="${condition}" th:action="'/user/save-condition/'+${userId}" method="post" data-parsley-validate="">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="form-group">
                          <label for="conditionName">Condition Name</label>
                          <input type="search" class="form-control typeahead" id="conditionName" th:field="*{conditionName}" placeholder="Search" data-parsley-maxlength="256" data-parsley-rfc3986=""/>
                        </div>
                        <input type="hidden" th:field="*{conditionId}" />
                        <input type="hidden" th:field="*{referenceId}" id="referenceId"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
            <div class="row mt-5">
                <div class="col-md-6 offset-md-3">
                    <a th:href="|/user/conditions/${userId}|">Return to Condition Manager</a>
                </div>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", ()=>{
                    $('.typeahead').typeahead({
                        minLength: 1
                      },
                    {
                        name: 'condition',
                        display: 'value',
                        async: true,
                        limit: Infinity,
                        source: function (condition, syncResults, asyncResults) {
                            // let's do a custom ajax call
                            fetch("/search-conditions?keyword="+condition).then(res=>res.json()).then((data)=>{
                                const ret = data.map((d)=>{
                                    return {...d,value:d.conditionName}
                                });
                                asyncResults(ret);
                            }).catch(()=>asyncResults([]));
                        }
                    });
                    $('.typeahead').bind('typeahead:select', function(ev, condition) {
                        $('#referenceId').val(condition.referenceId);
                      });
                });
            </script>
        </div>
    </body>
</html>