<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>Reset Password</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="col-md-4 text-center mx-auto">
                <form class="form-signin" th:action="@{/reset-password?jwt=}+${jwt}" method="post" data-parsley-validate="">
                    <br />
                    <h1>Enter your Email Address</h1>
                    <br />
                    <label for="email" class="sr-only">Email address</label>
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input type="email" id="email" class="form-control" th:value="*{email}" name="email" placeholder="Email address" required="required" autofocus="autofocus" autocomplete="off" disabled="true" />
                    <br />
                    <label for="password" class="sr-only">Password</label>
                    <span class="add-on"><i class="icon-key"></i></span>
                    <input type="password" id="password" class="form-control" name="password" placeholder="Password" required="required" autocomplete="off" />
                    <br />
                    <label for="password2" class="sr-only">Confirm Password</label>
                    <span class="add-on"><i class="icon-key"></i></span>
                    <input type="password" id="password" class="form-control" name="password2" placeholder="Confirm Password" 
                           data-parsley-equalto="#password" required="required" autocomplete="off" />
                    <br />
                    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Reset Password</button>
                    <br />
                    <a th:href="@{/login}" class="btn btn-primary btn-block"><i class="fas fa-file-signature"></i> Return to Login</a>
                </form>
            </div>
        </div>
    </body>
</html>
