<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>Menu</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <h1 class="pt-4" th:text="${user}?${user.firstName+' '+user.lastName}:'Menu'">Menu</h1>
                    <div class="card-deck card-deck justify-content-center justify-content-sm-stretch">
                        <a th:href="|/user/account/${user.userId}|" class="card text-center text-white bg-secondary mb-3 menu-card"
                           sec:authorize="isAuthenticated()">
                            <i class="fas fa-user-circle menu-button" style="margin: 1rem"></i>
                            <div class="card-body">My Account</div>
                        </a>
                        <a th:href="|/user/profile/${user.userId}|" class="card text-center text-white bg-secondary mb-3 menu-card"
                           sec:authorize="isAuthenticated()">
                            <i class="fas fa-id-badge menu-button" style="margin: 1rem"></i>
                            <div class="card-body">My Profile</div>
                        </a>
                        <a th:href="|/user/allergies/${user.userId}|" class="card text-center text-white bg-secondary mb-3 menu-card"
                           sec:authorize="isAuthenticated()">
                            <i class="fas fa-allergies menu-button" style="margin: 1rem"></i>
                            <div class="card-body">Allergies</div>
                        </a>
                        <a th:href="|/user/vaccines/${user.userId}|" class="card text-center text-white bg-secondary mb-3 menu-card"
                           sec:authorize="isAuthenticated()">
                            <i class="fas fa-syringe menu-button" style="margin: 1rem"></i>
                            <div class="card-body">Vaccines</div>
                        </a>
                        <a th:href="|/user/medications/${user.userId}|" class="card text-center text-white bg-secondary mb-3 menu-card"
                           sec:authorize="isAuthenticated()">
                            <i class="fas fa-tablets menu-button" style="margin: 1rem"></i>
                            <div class="card-body">Medication</div>
                        </a>
                        <a th:href="|/user/conditions/${user.userId}|" class="card text-center text-white bg-secondary mb-3 menu-card"
                           sec:authorize="isAuthenticated()">
                            <i class="fas fa-disease menu-button" style="margin: 1rem"></i>
                            <div class="card-body">Conditions</div>
                        </a>
                        <a th:href="|/user/advance-directives/${user.userId}|" class="card text-center text-white bg-secondary mb-3 menu-card"
                           sec:authorize="isAuthenticated()">
                            <i class="fas fa-paste menu-button" style="margin: 1rem"></i>
                            <div class="card-body">Advance Directives</div>
                        </a>
                        <a th:href="|/user/authorized-user/${user.userId}|" class="card text-center text-white bg-secondary mb-3 menu-card"
                           sec:authorize="isAuthenticated()">
                            <i class="fas fa-user-shield menu-button" style="margin: 1rem"></i>
                            <div class="card-body">Authorized Users</div>
                        </a>
                        <a th:href="|/user/qr-code/${user.userId}|" class="card text-center text-white bg-secondary mb-3 menu-card"
                           sec:authorize="isAuthenticated()">
                            <i class="fas fa-qrcode menu-button" style="margin: 1rem"></i>
                            <div class="card-body">Get QR Code</div>
                        </a>
                        <a href="/list-users" class="card text-center text-white bg-secondary mb-3 menu-card"
                           sec:authorize="isAuthenticated()" th:if="${hasAuthorizingUsers}">
                            <i class="fas fa-users menu-button" style="margin: 1rem"></i>
                            <div class="card-body">Manage Other Users</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>