<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>VLOL | Registration</title>
        <style>
            td {
                text-align: left;
                vertical-align: top;
                white-space: nowrap;
            }
            input:not([type="checkbox"]) {
                width: 100%;
            }
            textarea {
                resize: none;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div align="center">
                <h1 class="pt-4">Access Denied</h1>
                <br />
                <a href="/login" class="btn btn-primary btn-block"><i class="fas fa-home"></i> Return to Login Page</a>
            </div>
        </div>
    </body>
</html>