<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>Contact the VLOL Project</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-md-3 d-none d-md-block">
                    <img src="/img/vlol_logo.png" style="width:100%;" />
                    <br />
                    <img src="/img/umgc_logo.png" style="width:100%;" />
                </div>
                <div class="col-md-9">
                    <h1 class="pt-4">Contact Us</h1>
                    <br />
                    <p><b>Any questions, please contact the VLOL Project at <a href="mailto:rgarcia92@student.umuc.edu">rgarcia92@student.umuc.edu</a>.</b></p>
                    <hr>
                        <a href="/" class="btn btn-primary btn-block"><i class="fas fa-home"></i> Return to Home Page</a>
                </div>
            </div>
        </div>
    </body>
</html>
