<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>Contact the VLOL Project</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-md-3 d-none d-md-block">
                    <img src="/img/vlol_logo.png" style="width:100%;" alt="Virtual Letter of Life logo" />
                    <br />
                    <img src="/img/umgc_logo.png" style="width:100%;" alt="University of Maryland Global Campus logo" />
                </div>
                <div class="col-md-9">
                    <h1 class="pt-4">Contact Us</h1>
                    <form action="#" th:action="@{/contact}" th:object="${contact}" method="post" data-parsley-validate="">
                        <table class="table table-bordered dt-responsive display">
                            <tr>
                                <td><label for="firstName">First Name:</label></td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{firstName}" id="firstName" maxlength="50" placeholder="Required" required="required" autofocus="true" data-parsley-rfc3986="" />
                                    <div th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="lastName">Last Name:</label></td>
                                <td class="w-100">
                                    <input type="text" class="form-control" th:field="*{lastName}" id="lastName" maxlength="100" placeholder="Required" required="required" data-parsley-rfc3986="" />
                                    <div th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="email">Email:</label></td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{email}" id="email" maxlength="320" placeholder="Required" required="required" data-parsley-rfc3986="" data-parsley-email="" />
                                    <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></div>
                                </td>
                            </tr>
                             <tr>
                                <td><label for="reason">Reason</label></td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{reason}" id="reason" maxlength="320" placeholder="Required" required="required" data-parsley-rfc3986="" />
                                    <div th:if="${#fields.hasErrors('reason')}" class="text-danger" th:errors="*{reason}"></div>
                                </td>
                            </tr>
                             <tr>
                                <td><label for="description">Description</label></td>
                                <td>
                                    <textarea type="text" rows="10" cols="30" class="form-control" th:field="*{description}" id="description" maxlength="320" placeholder="Required" required="required" data-parsley-rfc3986="" />
                                    <div th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></div>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <button type="submit" class="btn btn-success"><i class="fas fa-file-signature"></i> Submit</button>
                    </form>
                    <hr>
                        <a href="/" class="btn btn-primary btn-block"><i class="fas fa-home"></i> Return to Home Page</a>
                </div>
            </div>
        </div>
    </body>
</html>
