<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>Virtual Letter of Life</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="text-center">
                <h1 class="pt-4">The Virtual Letter of Life Project</h1>
                <br />
                <!-- Attribution: US Navy Photo 100616-N-4044H-285, taken by Mass Communication Specialist 2nd Class Eddie Harrison on 16 June 2010. As a work of the U.S. federal government, it is in the public domain in the United States. -->
                <img src="img/vlol_cover.jpg" style="width:100%;" alt="" />
                <br />
                <br />
                <p>Welcome to the Virtual Letter of Life Project. By using the VLOL, you provide authorized medical personnel with important information in case of an emergency, such as your conditions and medications, as well as who to call.</p>
                <p>To enter your information, click on <b>Register</b> in the top right hand corner. To access your information, click on <b>Login</b> instead.</p>
                <p><a href="/console">H2 Console Portal</a></p>
            </div>
        </div>
    </body>
</html>
