<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>Log in</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    </head>
    <body class="text-center" th:onload="warning()">
    <header>
    		<!-- -------------- Nav Bar ------------------------ -->
		  	<!-- ----------------------------------------------- -->
  
    		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    			<div class="container">
    				<a class="navbar-brand" href="/">VLOL</a>
    				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    	<span class="navbar-toggler-icon"></span>
                	</button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="register" th:href="@{/registration}">Register</a>
                            </li>
                            <li class="nav-item">
                                <div sec:authorize="isAuthenticated()">
                                    <a class="nav-link text-dark" id="login" th:href="@{/logout}">Log out</a>
                                </div>
                                <div sec:authorize="isAnonymous()">
                                    <a class="nav-link text-dark" id="login" th:href="@{/login}">Log in</a>
                                </div>
                            </li>
                        </ul>

                 <ul class="navbar-nav flex-grow-1">
                 	<li class="nav-item">
                    	<a class="nav-link text-dark" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/admin-menu">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/contact">Contact</a>
                    </li>
                   </ul>
                </div>
    			</div>
    		</nav>
    	</header>
    	<!-- ----------------- End Nav Bar ---------------- -->
		<!-- ---------------------------------------------- -->
        <main class="container">
            <div class="row">
                <div class="col-4 mx-auto">
                    <form class="form-signin" th:action="@{/login}" method="post" >
                        <br />
                        <img src="img/vlol_logo.png" alt="" height="128" />
                        <br />
                        <div class="alert alert-danger" role="alert" th:if="${param.error}">
                            The email or password is incorrect!
                        </div>
                        <h1>Please log in</h1>
                        <br />
                        <label for="username" class="sr-only">Email address</label>
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="email" id="username" class="form-control" name="username" placeholder="Email address" required="required" autofocus="autofocus" />
                        <br />
                        <label for="password" class="sr-only">Password</label>
                        <span class="add-on"><i class="icon-key"></i></span>
                        <input type="password" id="password" class="form-control" name="password" placeholder="Password" pattern="[A-Za-z0-9\s\-._~:\/?#\[\]@!$&'()*+,;=]*" required="required" />
                        <br />
                        <div class="checkbox">
                            <input type="checkbox" value="remember-me" /> Remember me
                        </div>
                        <br />
                        <button class="btn btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Log in</button>
                        <br />
                        <a th:href="@{/registration}" class="btn btn-primary btn-block"><i class="fas fa-file-signature"></i> Create a Letter of Life Account</a>
                        <br />
                        <a href="/" class="btn btn-primary btn-block"><i class="fas fa-home"></i> Return to Home Page</a>
                        <br><br><br><br>
                    </form>
                </div>
            </div>
        </main>
        
        <!-- ----------------- Footer ---------------- -->
		<!-- ----------------------------------------- -->

		<footer class="border-top footer text-muted">
	        <div class="container">
	            <span class="mt-5 mb-3 text-muted">Copyright &copy; 2020<span id="currentYear"></span> Team EMS Plus. All Rights Reserved.</span>
	            <a href="/">Home</a> | <a href="/about">About</a> | <a href="/contact">Contact</a>
	        </div>
    	</footer>
    
		<!-- ----------------- End Footer ---------------- -->
		<!-- ----------------------------------------- -->
       
        <script>
            // Set copyright ending year to current year
            var date = new Date();
            var fullYear = date.getFullYear();
            if (fullYear !== 2020) {
                document.getElementById("currentYear").innerHTML = " - " + fullYear;
            }
        </script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <!-- Warning popup script -->
        <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    </body>
</html>
