<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>VLOL Registration</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="col-md-4 text-center mx-auto">
                <form class="form-signin" th:action="@{/login}" method="post" >
                    <br />
                    <img src="img/vlol_logo.png" alt="" height="128" />
                    <br />
                    <div class="alert alert-danger" role="alert" th:if="${param.error}">
                        The email or password is incorrect!
                    </div>
                    <div class="alert alert-success" role="alert" th:if="${param.passwordchanged}">
                        Password Successfully Changed!
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${param.blocked}">
                        Too many failed login attempts.  Please try again in 30 minutes.
                    </div>
                    <h1>Please log in</h1>
                    <br />

                    <label for="email" class="sr-only">Email address</label>
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input type="email" id="email" class="form-control" name="email" placeholder="Email address" required="required" autofocus="autofocus" autocomplete="off" />
                    <br />
                    
                    <label for="password" class="sr-only">Password</label>
                    <span class="add-on"><i class="icon-key"></i></span>
                    <input type="password" id="password" class="form-control" name="password" placeholder="Password" required="required" autocomplete="off" />                    
                    <div class="text-right"><a th:href="@{/forgot-password}">Forgot Password</a></div>
                    <br />
                    
                    <div class="checkbox">
                        <input type="checkbox" value="remember-me" /> Remember me
                    </div>
                    <br />
                    
                    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Log in</button>
                    <br />
                    
                    <a th:href="@{/registration}" class="btn btn-primary btn-block"><i class="fas fa-file-signature"></i> Create a Letter of Life Account</a>
                    <!--<br />-->
                    <!--<a href="/" class="btn btn-primary btn-block"><i class="fas fa-home"></i> Return to Home Page</a>-->
                </form>
            </div>
            <div class="jumbotron" style="font-size:12px;margin-top:2rem;padding:2rem;">
                <p>* * * * * * * * * * W A R N I N G * * * * * * * * * *<br/>
                This computer system is the property of the University of Maryland Global
                Campus (UMGC). It is for authorized use only.  By using this system, all users
                acknowledge notice of, and agree to comply with, UMGC's Acceptable Use Policy
                ("AUP"). Unauthorized or improper use of this system may result in
                administrative disciplinary action, civil charges/criminal penalties, and/or
                other sanctions as set forth in UMGC's AUP. By continuing to use this system
                you indicate your awareness of and consent to these terms and conditions of use.<br/>
                If you are physically located in the European Union, you may have additional
                rights per the GDPR. Visit the web site <a href="dataprivacy.utk.edu">dataprivacy.utk.edu</a> for more
                information.<br/>
                LEAVE IMMEDIATELY if you do not agree to the conditions stated in this warning.</p>
                <a href="https://www.umgc.edu/administration/policies-and-reporting/policies/fiscal-and-business-affairs/acceptable-use.cfm">UMGC Policy</a>
            </div>
        </div>
    </body>
</html>
