<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/site-master}"
      lang="en">
    <head>
        <title>VLOL | Registration</title>
        <style>
            td {
                text-align: left;
                vertical-align: top;
                white-space: nowrap;
            }
            input:not([type="checkbox"]) {
                width: 100%;
            }
            textarea {
                resize: none;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div align="center">
                <h1 class="pt-4">Registration</h1>
                <a href="/">Return to Home Page</a>
                <br />
                <br>
                <a th:href="@{/provider-registration}" class="btn btn-primary">Provider Registration</a>
                <div role="alert" class="text-danger" th:if="${msg}" th:utext="${msg}"></div>
                <br />
                <div align="left"><em>All fields are required.</em></div>
                <form action="#" th:action="@{/registration}" th:object="${user}" method="post" data-parsley-validate="">
                    <table class="table table-bordered dt-responsive display">
                        <tr>
                            <td><label for="firstName">First Name:</label></td>
                            <td>
                                <input type="text" class="form-control" th:field="*{firstName}" id="firstName" maxlength="50" placeholder="Required" required="required" autofocus="true" data-parsley-rfc3986="" />
                                <div th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="lastName">Last Name:</label></td>
                            <td class="w-100">
                                <input type="text" class="form-control" th:field="*{lastName}" id="lastName" maxlength="100" placeholder="Required" required="required" data-parsley-rfc3986="" />
                                <div th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="email">Email:</label></td>
                            <td>
                                <input type="email" class="form-control" th:field="*{email}" id="email" maxlength="320" placeholder="Required" required="required" data-parsley-rfc3986="" />
                                <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="password">Password:</label></td>
                            <td>
                                <input type="password" class="form-control" th:field="*{password}" id="password" maxlength="320" data-parsley-minlength="8" placeholder="Required" required="required" />
                                <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></div>
                            </td>
                        </tr>   
                        <tr>
                            <td><label for="password2">Confirm Password:</label></td>
                            <td>
                                <input type="password" class="form-control" id="password2" maxlength="320" data-parsley-minlength="8" placeholder="Required" required="required" data-parsley-equalto="#password" />
                            </td>
                        </tr>            
                    </table>
                    <br />
                    <button type="submit" class="btn btn-success"><i class="fas fa-file-signature"></i> Register</button>
                </form>
                <br />
                <a href="/login" class="btn btn-primary btn-block"><i class="fas fa-home"></i> Return to Login Page</a>
            </div>
        </div>
    </body>
</html>